.items {
  display: flex;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0 -1%;
}

.item {
  min-width: 23%;
  width: 23%;
  flex-basis: 23%;
  margin: 2% 1% 0;
  display: block;
  background: #fefeff;
  border: 1px solid #d9e5f0;
  padding: 20px;
  opacity: 1;
  text-decoration: none;
  outline: none;
}

.item__photo {
  max-height: 150px;
}

.item__input {
  border: 1px solid #ccc;
  padding: 3px 8px;
  height: 35px;
  width: 100%;

  &.error {
    border-color: red;
  }
}
