.pagination {
  margin: 0;
  padding: 30px 0 0 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
}

.pagination__item {
  border: 1px solid #ccc;
  padding: 2px 8px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;

  &.active {
    color: white;
    border-color: #2398ff;
    background: #2398ff;
  }

  &:hover {
    border-color: #2398ff;
  }

  &.disabled {
    opacity: .3;
    cursor: not-allowed;

    &:hover {
      border-color: #ccc;
    }
  }
}
