.header {
  font-size: 14px;
  background: #35393C;
  color: #eee;
  padding: 5px 0;
}

.header__avatar {
  display: flex;
  height: 30px;

  img {
    width: 30px;
    border-radius: 4px;
  }
}

.header__link {
  padding: 4px 15px;
  height: 30px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
  transition: background .3s;
  background: rgba(0, 0, 0, .2);
  display: inline-block;

  &.active,
  &:hover {
    background: rgba(0, 0, 0, .7);
  }
}

.header__logo {
  display: flex;
}

.header__link:last-child {
  margin-right: 0;
}

.header__links {
  margin-left: auto;
}
