.items {
  display: flex;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0 -1%;
}

.item {
  min-width: 31.333%;
  width: 31.333%;
  flex-basis: 31.333%;
  margin: 2% 1% 0;
  display: block;
  background: #fefeff;
  border: 1px solid #d9e5f0;
  padding: 20px;
  opacity: 1;
  text-decoration: none;
  outline: none;
  position: relative;
}

.item__photo {
  max-height: 150px;
  text-align: center;

  img {
    max-height: inherit;
  }
}

.item__input {
  border: 1px solid #ccc;
  padding: 3px 8px;
  height: 35px;
  width: 100%;
  outline: none;
  border-right: 0;

  &.error {
    border-color: red;
  }
}

.item__user-avatar {
  height: 35px;
}

.item__user-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
}

.item__meta {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.item__category {
  text-align: left;
  margin-top: 10px;
  background: #4A96AD;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
}
