.sub-nav {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.sub-nav__link {
  font-size: 14px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  color: #888;

  &.active,
  &:hover {
    color: #222;
  }

  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

.sub-nav__link + .sub-nav__link {
  padding-left: 20px;
}
