.user__summary-table {
  max-width: 600px;
  border: none;
  font-size: 14px;
}

.user__summary-label,
.user__summary-val {
  padding: 5px 0;
}

.user__summary-label {
  font-weight: 600;
  padding-right: 20px;
}
